<secction id="dashboardPage">

  <div class="status">

    <div class="col1-to30-xs col1-to15-md box">

      <div>
        <span class="value">10</span>
        <span class="label">Anúncios Postados</span>
      </div>

    </div>

    <div class="col1-to30-xs col16-to30-md box">

      <div>
        <span class="value">3</span>
        <span class="label">Propostas enviadas</span>
      </div>

    </div>

  </div>

  <div class="payTax">

    <p>Deixe sua mensalidade sempre em dias</p>

    <form id="buy_credits">

      <div class="imagePayPal">
        <img src="{{appUrl}}_medias/_images/assets/PayPal.png"/>
      </div>

      <input type="hidden" name="action" value="buy"/>
      <input type="text"  name="amount" id="totalPrice" disabled value="29.90" class="i_amount"/>

      <p class="notification clearfix"></p>

      <input type="submit" value="Realizar Pagamento">
    </form>
  </div>

</secction>