
$i: !important;

.show{
  display: block $i;
}

.hide{
  display: none $i;
}

$heightHeader: 56px;
$heightLogo: 38px;

#baseUrl,#managerUrl{
  display: none;
}

form{
  .contBlockImages{
    padding: 0 15px;
    margin-bottom: 15px;
    input{
      display: none;
    }
    small{
      color: #aaa;
    }
    .contImages{
      border-radius: 4px;
      border: 2px solid #fff;
      box-shadow: 2px 2px 5px #ccc;
      transition: .5s;
      position: relative;
      cursor: pointer;
      img{
        width: 100%;
        height: 100%;
        border-radius: inherit;
      }
      .contSkin{
        border-radius: inherit;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        .overlay{
          border-radius: inherit;
          width: 100%;
          height: 100%;
          display: table;
          background: rgba(0, 0, 0, 0.30);
          opacity: 0;
          text-align: center;
          transition: .5s;
          small{
            font-size: 1em;
            color: #fff;
            display: table-cell;
            vertical-align: middle;
          }
          &:hover{
            opacity: 1;
            transition: .5s;
          }
        }

      }
    }
    .contOthersImages{
      ul{
        list-style: none;
        padding: 0;
        text-align: center;
        li{
          display: inline-table;
          width: 25%;
          .contImages{
            small{
              font-size: .75em !important;
            }
            img{
              height: 100%;
            }
          }
        }
      }

      input{ display: none; }
    }
  }
}

.infoState {
  .modInfoState{
    $height: 200px;

    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #ddd;
    text-align: center;
    height: $height;
    width: 100%;
    background: #fff;
    display: table;
    .group-info{
      display: table-cell;
      vertical-align: middle;
      color: #777;
    }
    .loader{
      p{
        margin-top: 10px;
        font-size: .7em;
      }
    }
    .noData{

    }
  }
}

.navbar {
  z-index: 1 !important;
}

.card {
  z-index: 0 !important;
  .card-header {
    h4{
      position: relative;
      margin-bottom: 15px !important;
      button.btnCreate {
        width: 32px;
        height: 32px;
        padding: 0;
        position: absolute;
        right: 0;
        top: -8px;
      }
    }
  }
  .card-body {
    position: relative;
    .btnEdit {
      width: 30px;
      height: 30px;
      padding: 0;
      border-radius: 100%;
      position: absolute;
      right: 10px;
      top: 5px;
      i {
        font-size: 13px;
      }
    }
  }
}

.contCustomCard{
  margin-bottom: 30px;
  .customCard{
    background: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 3px 3px 3px #ddd;
    .customCard-header {
      $size: 90px;
      position: relative;
      cursor: pointer;
      .thumbnail {
        width: $size;
        height: $size;
        border-radius: 5px;
        margin-right: 10px;
        float: left;
      }
      .btnEdit{
        width: 30px;
        height: 30px;
        padding: 0;
        border-radius: 100%;
        position: absolute;
        right: -3px;
        top: -7px;
        i{
          font-size: 13px;
        }
      }
      .customCard-data {
        min-height: $size;
        border: 1px solid transparent;
        .title {
          font-weight: bolder;
          font-size: 17px;
          color: #444;
          margin-top: 0 !important;
        }
        .subtitle {
          margin-top: -8px;
          font-size: 12px;
          color: #555;
        }
        .category {
          color: coral;
          float: left;
        }
        .date {
          color: #999;
          float: right;
        }
        .category,
        .date {
          margin-top: 10px;
          font-size: 11px;
        }
      }
    }
    .customCard-body{
      border-top: 1px solid #ddd;
      padding-top: 10px;
      p{
        font-family: "Roboto", "Helvetica", "Arial", sans-serif;
        font-size: 13px;
        margin-bottom: 0;
      }
    }
  }
}

#btnBackPage{
  padding-left: 10px;
  padding-right: 10px;
}


.success{  background: rgba(36, 213, 90, 0.92);  padding: 10px;text-align: center;color: white;}
.error{  background: rgba(248, 101, 101, 0.79);  padding: 10px;text-align: center;color: white;}

.pagination-box{
  margin-top: 20pt;
  display: table !important;
  .pagination-container {
    display: table-cell;
    margin: 0;
    padding: 0;

    list-style: none;
    li{
      float: left;
      border-radius: 100%;
      text-align: center;
      //border: 1pt solid rgba(156, 156, 156, 0.84);
      margin: 1pt;
      box-shadow: 0 0 3pt #a3a3a3;
      width: auto !important;
      a{
        font: 600 7pt "Tahoma";
        display: table-cell;
        text-align: center;
        //min-width: 18pt;
        //height: 17pt;
        //width: auto;
        width: 18px;
        height: 18px;
        vertical-align: middle;
      }
    }
    .activePage{

      background-color: #9c9c9c !important;
      a{

        color: whitesmoke !important;
      }
    }

    .disabledPage{

      a{
        color: #83828b !important;
      }
    }

    .next,.prev{
      border: none;
      box-shadow: none;
      a {
        color: #9c9c9c !important;
        font-size: 12pt;
      }
    }
  }
}

@media (min-width: 120px) and (max-width: 500px){

}

@media (min-width: 120px) and (max-width: 360px){

}

@media (min-width: 360px) and (max-width: 480px){

}

@media (min-width: 480px) and (max-width: 660px){

}

@media (min-width: 660px) and (max-width: 820px){

}

@media (min-width: 820px) and (max-width: 1024px){

}

