$primaryColor: rgb(55,51,102);
$secondaryColor: rgb(120,196,237);
$tertiaryColor: white;


#mainPage{

  form{

    width: 100%;
    padding: 20pt;

    .fee{

      margin-bottom: 10px;
    }

    h6{

      font: 400 10pt "Arial";
      margin-top: 40pt;
      color: #a5a5a5;

      &.notifications-key{

        margin-top: 10pt;
      }
    }


    Button{

      background-color: #858585;
      box-shadow: none;
    }


    .logo{
      margin-bottom: 30px;

      div{
        position: relative;
        max-width: 200px;
        display: table;
        margin: auto;
        img{
          width: 200px;
        }
        box-shadow: 0 0 5px #989898;
        //border: 2px solid $secondaryColor;
      }

      button{
        position: absolute;
        right: -10px;
        top: -10px;
        border: 1px solid transparent;
        vertical-align: middle;
        padding: 0;
        height: 25px;
        width: 25px;
        border-radius: 100%;
        background: $primaryColor;
        cursor: pointer;

        &:active{
          border: 1px solid transparent;
          outline: none;
        }

        i{

          padding: 0;
          font-size: 1.1em;
          margin-top: 3px;
          color: $secondaryColor;
        }
      }
    }

    .medias{

      margin-bottom: 30px;
      //padding-left: 10px;
      //background: white;
      box-shadow: 0 0 3px lightgrey;
      padding: 20px;
      border-radius: 5px;
    }
  }
}